<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="FilePaths" type="Server.AppConfig.FileConfig.FilePathConfig, Server"/>
    <section name="ServicesSection" type="Server.AppConfig.ServiceConfig.ServiceSectionConfig, Server"/>
    <section name="ConnectionsSection" type="Server.AppConfig.ConnectionConfig.ConnectionSectionConfig, Server"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <FilePaths>
    <Files>
      <add path="file.xml"/>
    </Files>
  </FilePaths>
  <ServicesSection>
    <Services>
      <add type="master" count="1"/>
      <add type="slave"  count="2"/>
    </Services>  
  </ServicesSection>
  <ConnectionsSection>
    <Connections>
      <add address="127.0.0.1" port="55555"/>
      <add address="127.0.0.1" port="55556"/>
      <add address="127.0.0.1" port="55557"/>
      <add address="127.0.0.1" port="55558"/>
      <add address="127.0.0.1" port="55559"/>
    </Connections>
  </ConnectionsSection>
</configuration>