<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
<system.ServiceModel>

  <services>
    <!--  Взято http://www.cyberforum.ru/web-services-wcf/thread1101933.html -->
    <service name="WcfService.UserService">
      <endpoint address="" binding="basicHttpBinding" contract="WcfService.IUserService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      <host>
        <baseAddresses>
          <add baseAddress="http://localhost:8732/Design_Time_Addresses/WcfService/UserService/" />
        </baseAddresses>
      </host>
    </service>
  </services>

  <bindings>
    <!-- Specify one or more of the system-provided binding elements,
    for example, <basicHttpBinding> -->
    <!-- Alternatively, <customBinding> elements. -->
    <binding>
      <!-- For example, a <BasicHttpBinding> element. -->
    </binding>
  </bindings>

  <behaviors>
    <!-- One or more of the system-provided or custom behavior elements. -->
    <behavior>
      <!-- For example, a <throttling> element. -->
      <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
      <serviceDebug includeExceptionDetailInFaults="False" />
    </behavior>
  </behaviors>

</system.ServiceModel>
</configuration>